DATABASE_URL=postgresql://user:password@host:port/cinema_users

BOOKING_DATABASE_URL=postgresql://user:password@host:port/cinema_booking

JWT_SECRET=
JWT_ALGORITHM=HS256

REDIS_URL=redis://user:password@host:port

DEBUG=false

# auth-service URL
# Local (Docker):      http://auth-service:8005
# Producción (Render): auth-service-cinema.onrender.com
AUTH_SERVICE_URL=

KAFKA_ENABLED=true
KAFKA_BOOTSTRAP_SERVERS=
KAFKA_API_KEY=
KAFKA_API_SECRET=

PYTHON_VERSION=3.12
